#Virtal Environment
port_env/

#Python
__pycache__/
*.py[cod]
*$py.class

#Django
db.sqlite3

#Environment Variables
.env

#VS CODE
.vscode/

#Static/Media (optional)
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db